*{
  margin: 0;
  padding: 0;
}
body{
  font-family: "微软雅黑";
  margin: 0 auto;
}
h1{
  color: #7510b5;
}
.main{
  margin: 0 auto;
  padding-top: 40px;
  background-color: #666666;
  padding-bottom: 400px;
}
.main-inner{
  padding: 40px;
  width: 960px;
  margin: 0 auto;
  background-color: #eee;
  box-shadow: 0px 0px 15px #fff;
  border-radius: 10px;
}
li{
  margin-top: 25px;
  list-style: none;
  padding-left: 20px;
  border-radius: 5px;
  overflow: hidden;
}
li:hover a{
  background-color: green;
  color:#fff;
  font-weight: 600;
  border: 1px solid #fff;
}
a{
  background-color: yellow;
  display: block;
  width: 350px;
  color:#000;
  text-decoration: none;
  border: 1px solid #0b78e8;
  line-height: 25px;
  padding: 5px;
  text-align: center;
}
