<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    body{
      background-color: #cccccc;
      font-family: "微软雅黑";
    }
    h1{
      color:black;
    }
    h3{
      color:red;
    }
    p{
      color:green;
    }
    a{
      text-decoration: none;
    }
  </style>
</head>
<body>
  <h1>header</h1>
     {{ content }}
  <h1>footer</h1>
</body>
</html>
